body{
  margin: 0;
}
.container{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.canvas{
  width: 100%;
  height: 100%;
}

#log{
  position: absolute;
  left: 5px;
  top: 5px;
  width: max-content;
}